.countdown {
	.countdown-value {
		font-weight: 200;
		font-size: 2em;
		text-align: center;
		line-height: normal;
	}

	.countdown-label {
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 600;
		text-align: center;
		line-height: normal;
	}
}