<div class="countdown">
    <div class="row">
        <div class="col-xs-3">
        <div class="countdown-value">1</div>
            <div class="countdown-label">Day</div>
        </div>
        <div class="col-xs-3">
        <div class="countdown-value">13</div>
            <div class="countdown-label">Hours</div>
        </div>
        <div class="col-xs-3">
        <div class="countdown-value">24</div>
            <div class="countdown-label">Minutes</div>
        </div>
        <div class="col-xs-3">
        <div class="countdown-value">10</div>
            <div class="countdown-label">Seconds</div>
        </div>
    </div>
</div>