<head> </head>
<body>
    <script>
        const ipcRenderer = require("electron").ipcRenderer;

        ipcRenderer.on("printHTML", (event, content) => {
            document.body.innerHTML = content;

            ipcRenderer.send("READY TO PRINT");
        });
    </script>
</body>