<div class="nametag">
	<div class="nametag-inner">
		<h3 class="nametag-event">
			PARENT TICKET
		</h3>
		<h1 class="nametag-name">{{::model.hashCode}}</h1>
		<h3 class="nametag-groups">
			For {{::getDisplayName()}}
		</h3>
		<h3 class="nametag-event">{{::model.event.startDate | formatDate:'g:ia'}} {{::model.event.title}}</h3>
	</div>
</div>