<div ng-if="$root.user._id" class="printer-panel">
    <div class="printer-header">
        <div class="top-bar bg-white">
            <div class="row">
                <div class="col-sm-4">
                    {{$root.user.account.title}}
                </div>
                <div class="col-sm-4 text-center">
                </div>
                <div class="col-sm-4 text-right">
                    <a ng-click="$root.signout()">
                        Sign out
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="printer-content">
        <!-- <div class="container"> -->
            <div class="row row-flex">
                <div class="col-sm-6 bg-white center-flex">

                    <div class="container-fluid">
                        <div class="text-wrap">
                            <h1 class="printer-code">{{localStorage.printerID}}</h1>


                            <div class="connection-status" ng-class="{'online':$root.connection.online, 'offline':!$root.connection.online}">
                                <i class="fa fa-fw" ng-class="{'fa-check':$root.connection.online, 'fa-exclamation':!$root.connection.online}"></i> 
                                <span ng-if="$root.connection.online">Internet Connected</span>
                                <span ng-if="!$root.connection.online">Internet Disconnected</span>
                            </div>


                            <!-- If a printer has already been selected -->
                            <div class="panel panel-default" ng-if="printService.printer">
                                <div class="panel-body">
                                    <h5 style="margin: 5px 0;">{{printService.printer.name}}</h5>

                                    <div ng-switch="printService.printer.options['printer-state-reasons']">
                                        <div class="small brand-success" ng-switch-when="none">
                                            <i class="fa fa-check brand-success"></i>  Ready to print
                                        </div>
                                        <div class="brand-{{printService.getStatus(printService.printer)}}" ng-switch-default>
                                            <i class="fa fa-warning brand-warning"></i> {{printService.printer.options['printer-state-reasons']}}
                                        </div>
                                    </div>

                                    <a ng-click="printService.deselectPrinter()" class="text-muted small">Change printer</a>
                                </div>
                            </div>

                            <!-- No Printers Are Available -->
                            <div ng-if="!printService.availablePrinters.length">
                                No printers are available
                            </div>



                            <!-- If there are printers available -->
                            <div ng-if="printService.availablePrinters.length > 1 && !printService.printer">

                                <label>Select a printer</label>
                                <div class="panel panel-default" style="overflow:auto; max-height:400px;">
                                    <div class="list-group" ng-if="!printService.printer" >
                                        <div class="list-group-item small" ng-repeat="printer in printService.availablePrinters" ng-click="printService.selectPrinter(printer)" ng-class="{'active':printService.isSelected(printer)}">
                                            <div>{{printer.name}}</div>
                                            <div class="small brand-success" ng-if="printer.options['printer-state-reasons'] == 'none'">
                                                <i class="fa fa-check brand-success"></i>  Ready to print
                                            </div>
                                            <div class="brand-{{printService.getStatus(printService.printer)}}" ng-if="printer.options['printer-state-reasons'] != 'none'">
                                                <i class="fa fa-warning brand-warning"></i>{{printer.options['printer-state-reasons']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                        </div>
                    </div>
                </div>
                <div class="col-sm-6 border-left" ng-switch="settings.uiState">           
                    <div class="btn-tabs">
                        <a class="btn-tab" ng-class="{active:settings.uiState == 'queue'}" ng-click="settings.uiState = 'queue'">
                            Print Queue <span class="text-muted">({{printService.queue.length}})</span>
                        </a>
                        <a class="btn-tab" ng-class="{active:settings.uiState == 'history'}" ng-click="settings.uiState = 'history'">
                            Print History <span class="text-muted">({{printService.history.length}})</span>
                        </a>
                        <a class="btn-tab" ng-class="{active:settings.uiState == 'config'}" ng-click="settings.uiState = 'config'">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <div class="scroll-column" ng-switch-when="config">
                        <div class="wrapper-sm">
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Printer ID</label>
                                    <p class="help-block">Any checkins made tagged with this printer id will be automatically printed</p>
                                    <input class="text-uppercase form-control" ng-model="localStorage.printerID" placeholder="Unique Printer ID">
                                </div>

                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="localStorage.printTickets"/>
                                        Print Parent Tickets
                                    </label>
                                    <p class="help-block">
                                        Select this if you wish to print a parent pickup ticket
                                    </p>
                                </div>




                                <div ng-if="settings.advanced" class="panel panel-default">
                                    <div class="panel-body">

                                <!-- <div class="row">
                                    <div class="form-group col-xs-6">
                                        <label>Width</label>
                                        <input class="form-control" ng-model="localStorage.labelWidth" placeholder="90mm">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label>Height</label>
                                        <input class="form-control" ng-model="localStorage.labelHeight" placeholder="29mm">
                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <label>Printer Page Size</label>
                                    
                                    <div class="list-group" >
                                        <a class="list-group-item" ng-click="localStorage.pageSize = item" ng-class="{active:item == localStorage.pageSize}" ng-repeat="item in printService.pageSizes">{{item}}</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" ng-model="printService.previewBeforePrinting"/>
                                        Show print preview dialog before printing
                                    </label>
                                    <p class="help-block">
                                        Show the system print preview dialog before printing. (this should be turned off during a live checkin session)
                                    </p>
                                </div>

                                <div class="form-group">
                                    <a class="btn btn-default btn-sm" ng-click="openDevTools()">
                                        <Span>Open Developer Tools</Span>
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <a class="small text-muted" ng-click="settings.advanced = !settings.advanced">{{ settings.advanced ? 'Hide' : 'Show' }} advanced options</a>

                        <!--  -->



                            <!-- <div class="row">
                                <div class="form-group col-xs-6">
                                    <label>Width</label>
                                    <input class="form-control" ng-model="localStorage.width" placeholder="90mm"/>
                                </div>

                                <div class="form-group col-xs-6">
                                    <label>Height</label>
                                    <input class="form-control" ng-model="localStorage.height" placeholder="29mm"/>
                                </div>
                            </div> -->

                            <hr/>

                            <div class="form-group">
                                <a class="btn btn-primary" ng-click="addToPrintQueue(testCheckin)">
                                    Print a test label

                                    <i class="fa fa-fw" ng-class="{'fa-spinner fa-spin':printService.printing, 'fa-print':!printService.printing}"></i>
                                    <!-- <nametag ng-model="sampleCheckinData1"></nametag> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="print-queue" ng-switch-default>
                    <div class="print-queue-item" ng-repeat="item in printService.queue track by item.id">
                        <div class="row">
                            <div class="col-xs-2 text-center">
                                {{$index+1}} 
                            </div>
                            <div class="col-xs-6">
                                {{item.title}}
                            </div>
                            <div class="col-xs-2">
                                <span class="text-muted small">{{item.created | formatDate:'g:ia'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="print-history" ng-switch-when="history">
                    <div class="print-queue-item" ng-repeat="item in printService.history  | reverse track by item.id">
                        <div class="row">
                            <div class="col-xs-2 text-center">
                                {{printService.history.length - $index}} 
                            </div>
                            <div class="col-xs-6">
                                {{item.title}}
                            </div>
                            <div class="col-xs-2">
                                <span class="text-muted small">{{item.created | formatDate:'g:ia'}}</span>
                            </div>
                            <div class="col-xs-2">
                             <a class="btn btn-xs btn-link" ng-click="printService.reprint(item)">
                                 <i class="fa fa-undo"></i>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- </div> -->
     </div>
 </div>
</div>
<div class="curtain" ng-if="!$root.user._id">
    <div class="container">

        <div class="text-wrap" ng-controller="UserLoginController">
            <div style="max-width: 320px; margin:auto;">
                <h3>Sign In</h3>

                <form  ng-submit="login({application:!$root.staging})">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input ng-model="credentials.username" class="form-control" placeholder="john@appleseed.com"/>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input ng-model="credentials.password" type="password" class="form-control" placeholder="Password"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-5 stacked-xs">
                            <button class="btn btn-primary btn-block">
                                <span>Sign in</span>
                                <i class="fa fa-angle-right"></i>
                            </button>
                        </div>

                        <!-- <div class="col-xs-12 col-sm-7 small text-sm-right">
                            <a class="text-muted">Forgot your password?</a>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






