
.connection-status {

	padding: 10px;
	display: block;
	border-radius: 3px;
	margin-bottom: 15px;

	&.online {
		background: rgba($brand-success, 0.2);
		color: $brand-success
	}

	&.offline {
		background: rgba($brand-warning, 0.2);
		color: $brand-warning
	}

	// display: none;
	// padding: 10px;
	// text-transform: uppercase;
	// font-weight: 500;
	// border-radius: 5px 5px 0 0;
	// position: absolute;
	// bottom:0;
	// left:50px;
	// font-size: 0.8em;
	// z-index: 99999999999999;
	// // transform: translateY(150%);
	// // transition: transform 0.3s;
	// pointer-events: none;


	// &.online {
	// 	// display: block;
	// 	background: rgba($brand-success, 0.1);
	// 	color: $brand-success;
	// 	// transform: translateY(0);
	// }

	// &.offline {
	// 	display: block;
	// 	background: rgba($brand-danger, 0.1);
	// 	color: $brand-danger;
	// 	// transform: translateY(0);
	// }
}
