
@page { 
    size: 90mm 29mm;// 29mm;
    margin: 0;// 3mm;
    // max-width:100%;  
    // max-height:100%; 
} 

.nametag {
	// width: 900px;
	// height:290px;
	width: 89mm; //90mm
	height:27mm; //29mm
	background: #fff;
	display:block;
	padding:0;
	border-radius: 3mm;
	// box-sizing: border-box;

	.nametag-inner {
		padding:3mm 3mm 0 3mm;//3mm 3mm 3mm 0;
	}

	page-break-after: always;
	 position:relative;
    overflow:hidden; 
    // width:100%;
    // height:100%;

	&:last-child {
		page-break-after: avoid;
	}

	.nametag-name {
		margin:0;
		white-space:nowrap;
		font-size: 40px;
		display: block;
		line-height: 8mm;
		height: 10mm;
		text-transform: capitalize;
	}

	.nametag-groups {
		margin:0;
		white-space:nowrap;
		font-size: 15px;
		font-weight: 400;
		opacity: 0.8;
		line-height: 5mm;
		height: 5mm;
	}

	.nametag-event {
		margin:0;
		white-space:nowrap;
		font-size: 13px;
		font-weight: 400;
		opacity: 0.8;
		line-height: 5mm;
		height: 5mm;
	}

	.nametag-icons {
		margin:0;
		white-space: nowrap;
		// background: #ff0066;
		line-height: 5mm;
		height:5mm;
	}
}