<div class="nametag">
	<div class="nametag-inner">
		<h1 class="nametag-name">{{::getDisplayName()}}</h1>
		<h3 class="nametag-event">
			{{::model.event.startDate | formatDate:'g:ia'}} {{::model.event.title}}
		</h3>
		<h3 class="nametag-groups">{{::model.hashCode}} {{::groupNames}}</h3>
		<!-- <div class="nametag-icons">
			<i class="fa fa-camera"></i>
		</div> -->
	</div>
</div>